.letter {
    stroke: black;
    strok-width: 1;
    fill: #AAAAAA;
}

.sample-point {
    stroke: black;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
